{
    "model":
    {
        "vocab": "aAàÀảẢãÃáÁạẠăĂằẰẳẲẵẴắẮặẶâÂầẦẩẨẫẪấẤậẬbBcCdDđĐeEèÈẻẺẽẼéÉẹẸêÊềỀểỂễỄếẾệỆfFgGhHiIìÌỉỈĩĨíÍịỊjJkKlLmMnNoOòÒỏỎõÕóÓọỌôÔồỒổỔỗỖốỐộỘơƠờỜởỞỡỠớỚợỢpPqQrRsStTuUùÙủỦũŨúÚụỤưƯừỪửỬữỮứỨựỰvVwWxXyYỳỲỷỶỹỸýÝỵỴzZ0123456789,-' ",
        "backbone": "vgg11_bn",
        "cnn":
        {
            "hidden": 256,
            "ks": [[2, 2], [2, 2], [2, 1], [2, 1], [1, 1]],
            "pretrained": 0,
            "ss": [[2, 2], [2, 2], [2, 1], [2, 1], [1, 1]]
        },
        "transformer":
        {
            "d_model": 256,
            "dim_feedforward": 1024,
            "max_seq_length": 512,
            "nhead": 8,
            "num_decoder_layers": 6,
            "num_encoder_layers": 6,
            "pos_dropout": 0.1,
            "trans_dropout": 0.1
        },
        "seq_modeling": "transformer",
        "device": "cpu"
    },
    "trainer":
    {
        "iters": 2000,
        "batch_size": 64,
        "num_workers": 2,
        "print_every": 100,
        "checkpoint_every": 1000,
        "checkpoint": "model_checkpoint.pth"
    }
}